* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body-homepage {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #f4f4f4;
  color: #333;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5)),
    url(https://wallpaperaccess.com/full/46591.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

.header-homepage {
  background: #333;
  color: #fff;
  padding: 1rem 0;
}

.nav-homepage {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
}

.nav-homepage a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

.nav-homepage a:hover {
  text-decoration: underline;
}

.hero {
  color: white;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
}

.h1 {
  font-size: 3rem;
  padding: 1rem;
  border-radius: 5px;
}

.main-homepage {

  padding: 2rem;
  width: 80%;

  margin: auto;
  background: white;
  border-radius: 5px;

  background-attachment: fixed;
  background-size: cover;
}

.footer-homepage {
  text-align: center;
  padding: 1rem;
  background: #333;
  color: #fff;
  margin-top: 2rem;
bottom: -50px;
}
.pagina1-homepage {
    height: 100vh;
}

.footer-homepage {
  bottom: -50px;
}
